body {
	background-image: url("fondo.jpg");
	background-color: pink;
}

div	{
	display: flex;
	margin: 200px 100px;
	border: 5px solid #FFFFFF55;
	font-family: Roboto;
	color: white;
	text-shadow: black 1px 1px, 0 0 1em black, 0 0 0.2em black;
	font-size: 30px;
	padding: 30px;
}